{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    General Instructions
{% endblock %}

{% block content %}

<p>
In this study you will be making choices between two different lotteries shown as two buttons: A
and B.
Your choices are divided into Blocks, and you will be making choices for 3 blocks.
</p>

<p>
Each block will ask you to make choices of two types: choices from Description and from
Experience.
The choices may appear in any order (e.g., Description first and Experience second,
or vice versa).
</p>

<p>
In making choices from Experience, you will be allowed to explore the outcomes of the two
buttons for a fixed number of times, before you make one consequential choice that will
determine your bonus payment.
</p>

<p>
In making choices from Description, you will be shown the actual possible outcomes and their
associated probabilities before you make a choice that will determine your bonus payment.
</p>

<p>
You will be shown the total number of points obtained and the corresponding dollar value <strong>at the
end of each block.</strong>strong> Your goal is to complete the study with as many points as possible.
</p>


<p>
The cumulative points obtained from all the decisions you make across all the Blocks will be
converted into your bonus payment at a rate of $xxx for xxx points.
This bonus payment will be
added to your base payment of $2.50. 
</p>

<p>
Good luck!
</p>

    {% next_button %}

{% endblock %}
